body{
    display: grid;
    grid-template-areas: 'header header header header' 'section section section section' 'article article article article' 'footer footer footer footer';
    grid-template-rows: 35vh 15vh 20vh 30vh; 
}


